<div class="movie-container">
 <div
      class="content__banner"
      [ngStyle]="{'background-image': 'url(' + headerBGUrl + ')'}">

      <div class="overlay"></div>
    <div class="info-content">
      <div class="item-title">{{ movie.title }} </div>

      <div class="genre-wrap">
        <span class="genre" *ngFor="let genre of movie?.genres">
          {{ genre?.name }}
        </span>
      </div>

      <div class="header-detail">
        <div class="rating" *ngIf="movie.vote_average">
          <img src="assets/IMDb-icon.png" alt="" />

          <span *ngIf="movie.vote_average">{{ movie.vote_average }}</span>
        </div>

        <span *ngIf="movie.runtime" class="badge"
        >{{ movie.runtime + " min" }}</span>

        <span *ngIf="movie.release_date" class="badge">{{ movie.release_date | date }}</span>
      </div>

      <div
        class="header-detail text-danger"
        *ngIf="movie.genre">
        <span
          *ngFor="let genre of movie.genre; let i = index"
          class="badge">
          {{ genre.name }}
        </span>
      </div>

      <div
        class="header-detail"
        *ngIf="movie.genre_ids">
        <span *ngFor="let genre of movie.genre_ids; let i = index">
          {{ genre.name }}
        </span>
      </div>

      <div class="overview">
        <span>{{ movie.tagline }}</span>

        <h2>Description</h2>

        <p>{{movie.overview}}</p>
      </div>
    </div>
</div>

  <h3>Cast</h3>

  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let cast of casts">
      <a [routerLink]="['/person/', cast.id]" class="cast">
        <img alt="" *ngIf="cast.profile_path; else emptyBackground"
             src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{cast?.profile_path}}">
        <div class="cast__info">
          <h6>{{ cast?.name }}</h6>
          <span>AS {{ cast.character }}</span>
        </div>
      </a>
    </ng-template>
  </swiper>

  <h3>Crew</h3>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let crew of crew">
      <a [routerLink]="['/person/', crew.id]" class="crew">
        <img alt="" *ngIf="crew.profile_path; else emptyBackground"
             src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{crew?.profile_path}}">
        <div class="cast__info">
          <h6>{{ crew?.name }}</h6>
          <span>AS {{ crew.job }}</span>
        </div>
      </a>
    </ng-template>
  </swiper>

  <ng-template #emptyBackground>
    <img class="empty-background" src="assets/no-image.png" alt="" />
  </ng-template>
</div>
