<div class="movie-container">

  <h3>Rate it !!!</h3>
  <img alt="" style="width: 50px;
height: 30px;" src="assets/IMDb-icon.png" *ngFor="let rate of [1,2,3,4,5]" (click)="rateClicked(rate)" />

  <div
      class="content__banner"
      [ngStyle]="{'background-image': 'url(' + headerBGUrl + ')'}">

      <div class="overlay"></div>
    <div class="info-content">
      <div class="item-title">{{ movie?.title }} </div>

      <div class="genre-wrap">
        <span class="genre" *ngFor="let genre of movie?.genres">
          {{ genre?.name }}
        </span>
      </div>

      <div class="header-detail">
        <div class="rating" *ngIf="movie?.vote_average">
          <img src="assets/IMDb-icon.png" alt="" />

          <span *ngIf="movie?.vote_average">{{ movie?.vote_average }}</span>
        </div>

        <span *ngIf="movie?.runtime" class="badge"
        >{{ movie?.runtime + " min" }}</span>

        <span *ngIf="movie?.release_date" class="badge">{{ movie?.release_date | date }}</span>
      </div>

      <div class="header-detail text-danger">
        <span
          *ngFor="let genre of movie?.genres; let i = index"
          class="badge">
          {{ genre?.name }}
        </span>
      </div>

      <div
        class="header-detail"
        *ngIf="movie?.genre_ids">
        <span *ngFor="let genre of movie?.genre_ids; let i = index">
          {{ genre?.name }}
        </span>
      </div>

      <div class="overview">
        <span>{{ movie?.tagline }}</span>

        <h2>Description</h2>

        <p>{{movie?.overview}}</p>
      </div>
    </div>
</div>

  <div class="title-wrapper">
    <h3>Cast</h3>
    <a routerLink="cast" class="title__link">see all</a>
  </div>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let cast of casts">
      <div class="swiper__link">
        <img alt="" *ngIf="cast.profile_path; else emptyBackground"
             [src]="cast.profile_path | imageSource : 'w370_and_h556_bestv2'">
        <div class="swiper__info">
          <h6>{{ cast?.name }}</h6>
          <span>AS {{ cast.character }}</span>
        </div>
      </div>
    </ng-template>
  </swiper>

  <ng-template #emptyBackground>
    <img class="empty-background" src="assets/no-image.png" alt="" />
  </ng-template>
</div>
