mat-toolbar {
  display: flex;
  justify-content: center;
  background-color: rgb(19, 18, 18);
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mat-icon-button img {
  width: 40px;
  height: 40px;
}
