<div class="body">

  <div class="search">
    <img class="search--img" [src]="searchBanner" alt=""/>
    <div class="search--title">
      <h2>Welcome.</h2>
      <h3>Millions of movies, shows and people.  Explore now.</h3>
    </div>

    <input
      type="text"
      class="search--input"
      name="searchInput"
      [formControl]="searchInput"
      placeholder="Find movies...">
  </div>

  <ng-container *ngIf="isSearchHidden$ | async">
      <h2 class="section--title" *ngIf="searchRes">Founded movies</h2>
      <div class="movies_thumb">
        <swiper [config]="config">
          <ng-template swiperSlide *ngFor="let res of searchRes">
            <a
              class="img"
              [routerLink]="['/moviedetails', res.id]">
              <img
                src="https://image.tmdb.org/t/p/w200{{ res?.poster_path }}"
                alt="{{ res.title }}"/>
            </a>
          </ng-template>
        </swiper>
      </div>
  </ng-container>

  <app-list
    [title]="upcomingMoviesTitle"
    [movies]="upComing"
  ></app-list>
  <app-list
    [title]="trendingMoviesTitle"
    [movies]="topRated"
  ></app-list>

  <app-list
    [title]="popularMoviesTitle"
    [movies]="popular"
  ></app-list>
</div>
