/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@400;600&display=swap");
@import 'swiper/swiper-bundle.min.css';
@import 'swiper/swiper.min.css';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Monoton', sans-serif;
}

html,
body {
  height: 100%;
  background: #111;
}

h3 {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: darkred;
  text-align: center;
  margin: 3rem 0 1.5rem;
}

.empty-background {
  width: 93%;
}

.swiper__link {
  position: relative;
  width: 200px;
  height: 270px;
}

.swiper__link img {
  height: inherit;
  border-radius: 10px;
}

.swiper__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 1024px) {
  .swiper__link {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .swiper__link {
    height: 370px;
    width: 250px;
  }
}

.movies_thumb {
  display: flex;
  margin: 0px 0px 0px 32px;
}

.movies_thumb img {
  transform: scale(0.9);
  transition: all .3s ease;
  cursor: pointer;
  width: 100%;
}

.movies_thumb img:hover {
  transform: scale(1);
}

